<div ng-controller="DetailsController">
    <h2>Edit Product</h2>
    <table frame="box" rules="all" align="center">
        <tr>
            <td>Product Id </td>
            <td><input type="text" ng-model="prodid"> </td>
        </tr>
        <tr>
            <td>Product Name </td>
            <td><input type="text" ng-model="name"></td>
        </tr>
        <tr>
            <td>Product Price </td>
            <td><input type="text" ng-model="price"></td>
        </tr>
        <tr>
            <td>Manufactured Date</td>
            <td><input type="text" ng-model="mfd"></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><button>Save</button></td>
        </tr>
    </table>
</div>